<p id="notice"><%= notice %></p>

<h1>Flats</h1>


    <% @flats.each do |flat| %>

     <div class="col-xs-12 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai')">
          <div class="card-category">Popular</div>

            <div class="card-description">
              <h2><%= flat.name %></h2>
              <p>Very cool city, the best</p>
              <p><%= link_to 'Show', flat %> <%= link_to 'Edit', edit_flat_path(flat) %> <%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' }%></p>
            </div>

         <!--  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
          <a class="card-link" href="#" ></a>
        </div>

     </div>

     <% end %>












<%= link_to 'New Flat', new_flat_path %>
